/*
Zimeng Chen
John Dishaw
Marissa Levine
Kate Mazade
Eronmwon Osagie

ICC 565 Final Project
Master CSS File
*/


/*
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.background-blue{
	background-color:#155DBD;
}

.footer-text{
	color:#ffffff;
	font-size:12px;
}

.footer-link{
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
}

.btn-primary{
	background-color:#155DBD;
	border:solid #ffffff 0px;
	border-radius:10px;
	font-family: 'Roboto', serif;
}

.btn-secondary{
	width:150px;
	background-color:#155DBD;
	border:solid #ffffff 0px;
	border-radius:10px;
	font-family: 'Roboto', serif;
}

.btn-secondary:hover{
	background-color:#e06d6d;
	border:solid #ffffff 0px;
}

.btn-primary:hover{
	background-color:#e06d6d;
	border:solid #ffffff 0px;
}

.navbar{
	border-bottom: 10px solid #e06d6d;
	color:#155DBD;
}

.footer{
	border-top: 10px solid #e06d6d;
}

.navbar-light{
	background-color:#155DBD;
}

.navbar-light .navbar-nav .nav-link {
	color:#ffffff;
	font-weight: bold;
	font-family: 'Roboto', serif;
}

.nav-item:active{
	color:#ffffff;
	font-weight: bold;
}

.navbar-light .navbar-toggler {
    border-color:#155DBD;
    background-color:#ffffff;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(21,93,189, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


h4{
	font-family: 'Anton', serif;
}

.section-header{
	font-family: 'Anton', serif;
	color:#155DBD;
	font-size:16px;
}

p{
	font-size:14px;
	line-height: 16px;
}

h2{
	font-weight: bold;
}

h3{
	border-bottom: solid 3px #e06d6d;
}

.location{
	font-style:italic;
	color:#606060;
	font-weight:normal;
}

.ads{
	background-color:#AAAAAA;
	margin:20px;
	color:#FFFFFF;
	padding:20px;
}

.calendar-listing{
	font-weight: bold;
	font-size:20px;
	color:#000000;
	line-height: 20px;
}

.jumbotron-fluid{
	background-image:url(../images/homepage/jumbotron-lead.jpg);
	background-size:cover;
	height:500px;
	background-position: center;
}
.jumbotron-fatherhood{
	background-image:url(../images/fatherhood/Arnold_Malloy.jpg);
	background-size:cover;
	height:500px;
	background-position: center;
}

.display-4{
	font-family: 'Anton', serif;
	color:#ffffff;
	line-height: 80px;

}

.dek{
	color:#ffffff;
	font-weight:bold;

}

.jumbotron-publication-date{
	color:#ffffff;
	font-style:italic;
	line-height:2px;
	font-size:12px;
}

.box{
	background: rgba(244, 155, 155, 0.35);
	margin-right: 0px;
  	line-height: 40px;
  	position:absolute;
	bottom:0;

}

.publication-date{
	font-style:italic;
	font-size:12px;
}

h1{
	font-family: 'Anton', serif;
	line-height: 80px;
}

h5{
	font-weight: bold;
	font-family: 'Roboto', serif;
}

.donor{
	margin-top: 20px;
}

.ads-side{
	background-color:#AAAAAA;
	color:#FFFFFF;
	height:100px;
	padding:20px;
}

.payment{
	margin-top: 20px;
}

.h5-zimeng{
	font-size: 15px;
	font-weight: 300;
	font-weight:normal important! ;
}

.h1-zimeng{
	font-family: 'Roboto', serif;
	line-height: 50px;
	text-align: center;
	padding: 20px;
	font-weight: bold;
	border-bottom: solid 3px #e06d6d;
}
.h3-zimeng{
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: none;
}
.h2-zimeng{
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: solid 3px #e06d6d;

}
.subhead-zimeng{
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
	font-size:30px;
	line-height: 40px;
}
.find-link{
	color: black;
}
.time{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}
.event1{
	padding: 10px;
	text-align: left;
}
.event2{
	padding: 20px;
	text-align: left;
}
.events{
	text-align: right;
	font-weight: bold;
}

.input-group-prepend{
	border-radius: 10px;
}

.message{
width: 960px;
height: 400px;
}

.p-bold{
	font-weight: bold;
}

.subh{
    text-align: center;
}

.stf{
    text-align: center;
}

.names{
    text-decoration: underline;
    font-weight: 700;
}

.simg{
    border-radius: 50%;
    width: 200px;
}

.bimg{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.under{
    text-decoration: underline;
}

.select{
    color: #707276;
}

.lead{
    letter-spacing: 0px;
    line-height: 30px;
}

.name{
    font-weight: 700;
}

.position{
    font-weight: 400;
    color: #D5D5D5;
}

.subtitle{
    font-weight: 500;
    font-size: 18px;
}

.abtcontent{
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
}

#more1, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12{
    display: none;
}

.staffcontent{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 4px;

}
